@model IEnumerable<Patriot.Entities.DailyLog>
@if (Model != null && Model.Count() > 0)
{
    <input type="hidden" id="rowID" value="@Model.FirstOrDefault().ID" />
}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Entries</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>     
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.PunchName.ToLower() == "total")
            {
                if (item.Time != "0 hours")
                {
                    <tr class="tblTotal" >
                        <td colspan="2">@Html.DisplayFor(modelItem => item.PunchName)</td>
                        <td>@item.Time</td>
                    </tr>
                }
                <tr style=" height: 50px;"></tr>
                
            }
            else
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.PunchName)</td>
                    <td>@item.PunchTime.Date.ToString("MM/dd/yyyy")</td>
                    <td>@item.PunchTime.ToString("HH:mm")</td>
                </tr>
            }

        }
    </tbody>
</table>
